
.logo-img {
  display: block;
  margin: 0 auto;
  width: 125px; /* Ajusta el tamaño de la imagen según sea necesario */
  height: 150px; /* Hacer el ancho y alto iguales para formar el círculo */
  transition: transform 0.09s ease-in-out;

}

