<ion-header>
  <ion-toolbar>
    <ion-title class="text-center">DishCovery</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="home-content">
  <ion-img
    alt="logoapp1"
    src="assets/images/logoapp.jpeg"
    class="logo-img">
  </ion-img>

  <form [formGroup]="loginForm" (ngSubmit)="loginUser(loginForm.value)" class="login-form">
    <ion-item>
      <ion-input label="Email" labelPlacement="floating" placeholder="" formControlName="email"></ion-input>
    </ion-item>

    <div>
      <ng-container *ngFor="let error of formErrors.email">
        <ion-label color="danger"
          *ngIf="(loginForm.get('email')?.hasError(error.type) && loginForm.get('email')?.dirty)">
          {{ error.message }}
        </ion-label>
      </ng-container>
    </div>

    <ion-item>
      <ion-input label="Password" labelPlacement="floating" type="password" placeholder="" formControlName="password"></ion-input>
    </ion-item>

    <div>
      <ng-container *ngFor="let error of formErrors.password">
        <ion-label color="danger"
          *ngIf="(loginForm.get('password')?.hasError(error.type) && loginForm.get('password')?.dirty)">
          {{ error.message }}
        </ion-label>
      </ng-container>
    </div>

    <div class="button-container">
      <ion-button type="submit" [disabled]="!loginForm.valid">Sign In</ion-button>
      <ion-button (click)="goToRegister()" class="register-button">Sign Up</ion-button>
    </div>
  </form>

  <p>{{errorMessage}}</p>
</ion-content>
