<ion-header>
  <ion-toolbar>
    <ion-title class="text-center">DishCovery</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="home-content">
  <ion-img
    alt="logoapp1"
    src="assets/images/logoapp.jpeg"
    class="logo-img">
  </ion-img>

  <form [formGroup]="loginForm" (ngSubmit)="loginUser(loginForm.value)" class="login-form">
  <ion-card>
    <ion-item>
      <ion-input label="Email" labelPlacement="floating" placeholder="" formControlName="email"></ion-input>
    </ion-item>
  </ion-card>
    <div>
      <ng-container *ngFor="let error of formErrors.email">
        <ion-label color="danger"
          *ngIf="(loginForm.get('email')?.hasError(error.type) && loginForm.get('email')?.dirty)">
          {{ error.message }}
        </ion-label>
      </ng-container>
    </div>

    <ion-card>
    <ion-item>
      <ion-input label="Password" labelPlacement="floating" type="password" placeholder="" formControlName="password"></ion-input>
    </ion-item>
  </ion-card>

    <div>
      <ng-container *ngFor="let error of formErrors.password">
        <ion-label color="danger"
          *ngIf="(loginForm.get('password')?.hasError(error.type) && loginForm.get('password')?.dirty)">
          {{ error.message }}
        </ion-label>
      </ng-container>
    </div>

    <div class="button-container">
      <ion-button type="submit" [disabled]="!loginForm.valid">Sign In</ion-button>
      <ion-button (click)="goToIntro()" class="register-button">Sign Up</ion-button>
    </div>
  </form>
  <ion-fab vertical="bottom" horizontal="start" slot="fixed" >
    <ion-avatar class="app-logo" >
      <img src="/assets/images/logoapp.jpeg"  alt="Logo de DishCovery"/>
    </ion-avatar>
  </ion-fab>

  <p>{{errorMessage}}</p>
</ion-content>
