<ion-content>
  <swiper-container
  slides-per-view="1"
  pagination="true"
  >
    <swiper-slide class="bg-color-slide">
      <ion-icon name="arrow-forward-outline"></ion-icon>

      <h1 class="title1">¡Bienvenidos a Dishcovery</h1>

      <img src="/assets/images/foodimag.jpg" width="175">

      <p class="type1">Descubre ideas deliciosas y creativas para tus comidas diarias. Guarda, comparte y encuentra inspiración fácilmente.</p>
    </swiper-slide>

    <swiper-slide>
      <ion-icon name="arrow-forward-outline"></ion-icon>
      <h1>Explora Nuevas Recetas</h1>

      <img src="/assets/images/explore.jpg" width="250">

      <p>Explora una variedad de platillos: desde postres irresistibles hasta comidas rápidas y saludables.

      </p>
    </swiper-slide>

    <swiper-slide>
      <ion-icon name="arrow-forward-outline"></ion-icon>
      <h1>Organiza tus Favoritos</h1>

      <p>Guarda las ideas que más te gusten y organiza tus recetas en tableros personalizados. ¡Comparte tus descubrimientos con amigos!</p>
    </swiper-slide>

    <swiper-slide>
      <ion-icon name="close" class="close-icon" (click)="finish()"></ion-icon>
      <h1>¡Hazlo a tu Manera!</h1>
      <p>Sigue tus intereses culinarios favoritos, recibe recomendaciones personalizadas y haz que cocinar sea divertido.</p>


    </swiper-slide>

  </swiper-container>
</ion-content>
