<ion-header>
  <ion-toolbar class="toolbar-container pastel-toolbar">

    <ion-title class="text-center">Montar Post</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>


</ion-header>

<ion-content class="home-content pastel-content">
  <form [formGroup]="addPostForm" (ngSubmit)="addPost(addPostForm.value)">
    <div (click)="presentPhotoOptions()" class="upload-container">
      <img [src]="post_image ? post_image : 'assets/images/PlaceHolder.jpeg'" width="100" />
      <p *ngIf="!post_image">Haz Click En La Imagen</p>
    </div>

    <ion-card class="style-card" >

      <ion-textarea
        label="Descripcion: "
        labelPlacement="floating"
        placeholder="Ingredientes o Nombre Del Platillo"
        formControlName="description">
      </ion-textarea>

  </ion-card>


    <div  class="pastel-footer" >
      <ion-button
        type="submit"
        [disabled]="!addPostForm.valid"
        >
        Publicar
      </ion-button>
  </div>

  </form>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-avatar class="app-logo">
      <img src="/assets/images/logoapp.jpeg" alt="Logo de DishCovery"/>
    </ion-avatar>
  </ion-fab>

</ion-content>
