#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
.home-content {
  background-image: url("/assets/images/logoapp.jpeg");
  background-size: cover;
  background-position: center;
  background-color: #5b5b5b !important;
}

.scroll-content {
  width: 80%;
  max-width: 100px;
  height: 100px;
  max-height: 100px;
  margin: 70px auto;
  padding: 20px;
  background-color: #ffccd5;

  background-position: center;
  border-radius: 100px;

}

.toolbar-container {
  --background: #f5e1da; /* Fondo pastel para el toolbar */
  ion-title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #5b5b5b; /* Color del texto */
    img.app-logo {
      height: 30px; /* Altura de la imagen */
      width: auto; /* Ajuste automático del ancho */
      margin-left: 10px; /* Espacio entre el texto y la imagen */
    }
  }
}
ion-buttons ion-menu-button {
  --background: #ffccd5;
  color: #5b5b5b;
}
ion-buttons ion-menu-button {
  --background: #ffccd5;
  color: #5b5b5b;
}

ion-content {
  --background: #f9f9f9;
}

.pastel-card {
  --background: #e8f0fe;
  ion-card-header {
    --background: #f5e1da;
    ion-card-subtitle {
      color: #5b5b5b;
      ion-avatar img {
        border-radius: 50% solid #5b5b5b;
      }
    }
  }
  ion-card-content {
    color: #5b5b5b; /* Color del texto del contenido de la tarjeta */
  }
}
ion-fab {
  ion-fab-button {
    --background: #3f3b3bac;
    --color: #ffccd5;
  }
}

.user-avatar {
  --border-radius: 50%;
}
