ion-header {
  --background: #f5e1da; /* Fondo pastel para el header */
  ion-toolbar {
    --background: #f5e1da; /* Fondo pastel para el toolbar */
  }
}

.home-content {
  --background: #7cc9dc84; /* Fondo pastel para el contenido */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  color: #5b5b5b;
}

.text-center {
  color: #5b5b5b; /* Color del texto */
}

.profile-title {
  font-size: 1.5em;
  color: #5b5b5b; /* Color del texto */
  margin-top: 20px;
  text-align: center;
}

.image-post-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-post {
  width: 100px;
  height: 100px; /* Ajusta la altura y el ancho de la imagen para que sea proporcional */
  border-radius: 50%; /* Hace que la imagen sea circular */
  object-fit: cover; /* Asegura que la imagen se ajuste bien dentro del contenedor */
}

ion-buttons ion-menu-button {
  --background: #ffccd5; /* Fondo pastel para el botón */
  color: #5b5b5b; /* Color del icono */
}

.card-container {
  display: flex;
  flex-direction: column; /* O utiliza row si prefieres que las tarjetas se alineen en fila */
  align-items: center;
  justify-content: center;
}

ion-fab {
  ion-fab-button {
    --background: #3f3b3bac;
    --color: #ffccd5;
  }
}

.card-style {
  align-items: center;
  padding: 15px;
  border-radius: 15px;
  background-color: #e8f0fe; /* Color pastel para las tarjetas */
  color: #5b5b5b; /* Color del texto */
  box-shadow: 0 4px 8px rgba(214, 214, 214, 0.36);
  transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out; /* Efecto de transición */
  text-align: center; /* Centra el texto dentro de la tarjeta */

  display: flex; /* Añadir flexbox para centrar el contenido verticalmente */
  flex-direction: column; /* Asegura que los elementos hijos se alineen en columna */
  justify-content: center; /* Centra verticalmente */

  &:hover {
    transform: translateY(-2px); /* Efecto de elevación */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  &:active {
    transform: scale(0.98); /* Efecto al hacer clic */
  }
}

ion-item {
  --background: #e8f0fe; /* Fondo pastel para los ítems */
  border-radius: 10px; /* Bordes redondeados para los ítems */
  margin: 5px 0;
}

p {
  color: #5b5b5b; /* Color del texto */
  margin: 5px 0;
  text-align: center;
}

.style-button {
  color: #5b5b5b; /* Color del botón */
}

.rounded-button {
  border-radius: 20px; /* Bordes redondeados para los botones */
}

.light-button {
  background-color: #ffccd5; /* Color pastel claro para el botón */
}

ion-button {
  --background: #ffccd5; /* Fondo pastel para los botones */
  color: #5b5b5b; /* Color del texto de los botones */
  transition: transform 0.1s ease-in-out; /* Efecto de transición */

  &:active {
    transform: scale(1.95); /* Efecto al hacer click */
  }
}

.register-button {
  &:active {
    background-color: #e6b8b8; /* Cambia el color de fondo al hacer clic */
    transform: scale(1.25); /* Efecto al hacer clic */
  }
}

.card-sty {
  align-items: center;

  height: auto; /* Permitir que la altura sea automática */

  margin: 10px auto; /* Ajusta el margen para centrar la tarjeta horizontalmente */
  padding: 15px;
  border-radius: 15px;
  background-color: #5e5e5e; /* Color pastel para las tarjetas */
  color: #000; /* Color del texto */
  box-shadow: 0 4px 8px rgba(214, 214, 214, 0.36);
  transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out; /* Efecto de transición */
  text-align: center; /* Centra el texto dentro de la tarjeta */

  display: flex; /* Añadir flexbox para centrar el contenido verticalmente */
  flex-direction: column; /* Asegura que los elementos hijos se alineen en columna */
  justify-content: center; /* Centra verticalmente */

  &:hover {
    transform: translateY(-2px); /* Efecto de elevación */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  &:active {
    transform: scale(0.98); /* Efecto al hacer clic */
  }
}
