
.logo-img {
  display: block;
  margin: 0 auto;
  width: 125px; /* Ajusta el tamaño de la imagen según sea necesario */
  height: 150px; /* Hacer el ancho y alto iguales para formar el círculo */
  transition: transform 0.09s ease-in-out;

}
ion-header {
  --background: #f5e1da; /* Fondo pastel para el header */
  ion-toolbar {
    --background: #f5e1da; /* Fondo pastel para el toolbar */
    ion-title {
      color: #5b5b5b; /* Color del texto */
    }
    ion-icon.close-icon {
      color: #000; /* Color negro para el icono */
      margin-left: auto; /* Alinea el icono a la derecha */
      font-size: 24px; /* Ajusta el tamaño del icono */
      cursor: pointer; /* Añade el cursor de puntero */
      transition: transform 0.1s ease-in-out; /* Efecto de transición */

      &:hover {
        transform: scale(1.1); /* Aumenta el tamaño al pasar el ratón */
      }

      &:active {
        transform: scale(0.9); /* Reduce el tamaño al hacer clic */
      }
    }
  }
}

.home-content {
  --background: #f9f9f9; /* Fondo pastel para el contenido */
}
.close-icon{

  --background: #e8f0fe;
}
.logo-img {
  display: block;
  margin: 20px auto; /* Centra la imagen */
  width: 150px; /* Ajusta el tamaño de la imagen */
  height: 150px; /* Ajusta la altura de la imagen */
  border-radius: 50%; /* Hace que la imagen sea circular */
  object-fit: cover; /* Asegura que la imagen se ajuste dentro del borde circular */
}

.register-form {
  padding: 20px;
}

.button-container {
  display: flex;
  justify-content: center; /* Centra los botones */
  gap: 10px; /* Espacio entre los botones */
}

ion-item {
  --background: #e8f0fe; /* Fondo pastel para los items */
  --color: #5b5b5b; /* Color del texto */
}

ion-button {
  --background: #ffccd5; /* Fondo pastel para los botones */
  color: #5b5b5b; /* Color del texto de los botones */
  transition: transform 0.1s ease-in-out; /* Efecto de transición */

  &:active {
    transform: scale(0.95); /* Efecto al hacer click */
  }
}
